<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContryCapital.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C2FF6DD1F5AB34200E70E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2FF6F11F5AB34200E70E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2FF6FC1F5AB34200E70E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
